<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hs.mapper.DeptMapper">

<select id="getList" resultType="org.hs.domain.DeptVO">
	<![CDATA[
		select*from DEPARTMENTS where deptNum>0
	]]>
</select>


<select id="read" resultType="org.hs.domain.DeptVO">
	select*from DEPARTMENTS where deptNum=#{deptNum}
</select>

<insert id="insertDeptInfo">
    INSERT INTO DEPARTMENTS (deptNum, deptName) 
    VALUES (deptNum_seq.NEXTVAL, #{deptName})
</insert>

<update id="update">
	update DEPARTMENTS set
	deptName=#{deptName},
	
	where deptNum=#{deptNum}
</update>

<delete id="delete">
	delete DEPARTMENTS where deptNum=#{deptNum}
</delete>

</mapper>