<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="org.hs.mapper.EmployeeMapper">
	
	
	<insert id="insert">
    INSERT INTO employees (empNum, empName, pw, job, phoneNum, annualLeaveNum,workDate,birthDate, adminNum, authNum, deptNum) 
    VALUES (empNum_seq.NEXTVAL, #{empName},#{pw}, #{job}, #{phoneNum}, #{annualLeaveNum}, #{workDate},#{birthDate}, #{adminNum}, #{authNum}, #{deptNum})
</insert>

	
</mapper>