<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.hs.mapper.LeavePolicyAttachMapper">

  
   <insert id="insert" parameterType="org.hs.domain.AttachVO">
        insert into Attach (uuid, uploadpath, filename,
        filetype, lpNum)
        values (#{uuid}, #{uploadPath}, #{fileName},
        #{fileType}, #{lpNum} )
    </insert>
    
    <select id="findByBno"
             resultType="org.hs.domain.AttachVO">
        select * from Attach where lpNum = #{lpNum}
    </select>
    
    <delete id="delete">
    	delete from Attach where uuid =#{uuid}
    </delete>
    
    <delete id="deleteAll">
    	delete from Attach where lpNum = #{lpNum}
    </delete>
    
</mapper>
  
  
  
  
