<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hs.mapper.SystemMapper">

<insert id="insertEmpInfo">
    INSERT INTO employees (empNum, empName, pw, job, phoneNum, annualLeaveNum,workDate,birthDate, adminNum, authNum, deptNum) 
    VALUES (empNum_seq.NEXTVAL, #{empName},#{pw}, #{job}, #{phoneNum}, #{annualLeaveNum}, #{workDate},#{birthDate}, #{adminNum}, #{authNum}, #{deptNum})
</insert>

<update id="grantAnnualLeave">
    UPDATE employees
    SET annualLeaveNum = 
        CASE 
            WHEN workDate > 365 THEN 
                CASE 
                    WHEN workDate >= 730 THEN LEAST(25, 16 + FLOOR((workDate - 730) / 730) + LEAST(1, FLOOR((workDate - 730) / 730)))
                    ELSE LEAST(15, 12 + FLOOR((workDate - 365) / 730) + LEAST(1, FLOOR((workDate - 365) / 730)))
                END
            ELSE annualLeaveNum 
        END
    WHERE empNum = #{empNum}
</update>

<update id="">


</update>




	




</mapper>
